:root{color-scheme:dark light}
*{box-sizing:border-box}
html,body{padding:0;margin:0}
img{max-width:100%;height:auto}

/* Sidebar dikey kaydırma çubuğunu gizle (içerik yine kaydırılabilir) */
.sidebar-scroll{
  scrollbar-width:none;      /* Firefox */
  -ms-overflow-style:none;   /* Eski Edge/IE */
}
.sidebar-scroll::-webkit-scrollbar{
  width:0;
  height:0;
}

